
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/


.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

.idea/
.vscode/


project.lock.json
project.fragment.lock.json
artifacts/


*.nupkg
*.snupkg
packages/
.nuget/
.nuget/packages/

*.log
*.tmp
*.temp
*.bak
*.cache


Thumbs.db
Desktop.ini
.DS_Store


WebView2/
*.webview2




publish/

TestResults/

appsettings.Development.json
appsettings.Local.json
